/*@media screen and (max-width: 768px) {*/
/*  html {*/
/*    font-size: 3px;*/
/*  }*/
/*}*/

/*@media screen and (min-width: 768px) {*/
/*  html {*/
/*    font-size: 4px;*/
/*  }*/
/*}*/

/*@media screen and (min-width: 1024px) {*/
/*  html {*/
/*    font-size: 6px;*/
/*  }*/
/*}*/

/*@media screen and (min-width: 1440px) {*/
html {
  font-size: 8px;
}

html.sr .timeline-item-row {
  visibility: hidden;
}
/*}*/

/*@media screen and (min-width: 2000px) and (min-height: 1500px) {*/
/*  html {*/
/*    font-size: 10px;*/
/*  }*/
/*}*/

/*@media screen and (min-width: 3000px) and (min-height: 2000px) {*/
/*  html {*/
/*    font-size: 12px;*/
/*  }*/
/*}*/

.slice-iframe {
  width: 100%;
  height: 800rem;
  background: black;
  border: none;
  margin-bottom: -80rem;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

* {
  box-sizing: border-box;
}

.ibm-plex-mono-thin {
  font-family: "IBM Plex Mono", serif;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-mono-extralight {
  font-family: "IBM Plex Mono", serif;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-mono-light {
  font-family: "IBM Plex Mono", serif;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", serif;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-mono-semibold {
  font-family: "IBM Plex Mono", serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", serif;
  font-weight: 700;
  font-style: normal;
}

.jersey-10-regular {
  font-family: "Jersey 10", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  background-color: black;
  max-width: 161rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

.about-body {
  overflow-x: hidden;
}

.about-body .line {
  display: none;
}

nav {
  padding: 3rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 155rem;
  /*height: 11.5rem;*/
  color: white;
  font-size: 3rem;
  margin-left: -3rem;
  margin-right: -3rem;
  border: 0.125rem solid #42474C;
  justify-self: center;
  width: calc(100% + 6rem);
}

.nav-items {
  justify-content: space-between;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 3rem;
  max-width: 68rem;
  margin-left: 10rem;
  width: 58rem;
  column-gap: 3rem;
  z-index: 1;
  align-items: center;
}

@media screen and (max-width: 853px) {
  .nav-items {
    margin-left: 4rem;
  }
}

@media screen and (max-width: 750px) {
  .nav-items {
    column-gap: 2rem;
  }
}

@media screen and (max-width: 610px) {
  .nav-items {
    flex-direction: column;
    align-items: end;
    width: initial;
    min-width: initial;
  }
}


.nav-items li {
  font-size: 3rem;
}

.nav-items a {
  text-decoration: none;
  color: #767676;
  transition: color 0.3s;
}

.nav-items a:hover {
  color: white;
}

.proxy-hero {
  position: absolute;
  left: -3rem;
  top: 0;
  z-index: -2;
  width: 322rem;
}

@media screen and (min-width: 2307px) {
  .proxy-hero {
    width: 322rem !important;
  }
}

@media screen and (min-width: 1200px) {
  .proxy-hero {
    width: 322rem !important;
  }
}

.main-content {
  position: relative;
  text-align: center;
}

.line.left {
  left: calc(50% - 39rem);
}

.line.middle {
  left: 50%;
}

.line.right {
  left: calc(50% + 39rem);
}

.line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0.125rem;
  border-left: 0.125rem solid #42474C;
  z-index: -1;
}

@media screen and (max-width: 728px) {
  .line {
    display: none;
  }

  .boxes-container {
    width: 100% !important;
  }

  .box {
    width: 100% !important;
    border-left: 0.125rem solid #42474C;
    border-right: 0.125rem solid #42474C;
  }

  .box-text {
    width: 100% !important;
  }

  .boxes-container {
    height: 156rem !important;
  }

  .box > * {
    font-size: 3rem !important;
  }
}

@media screen and (max-width: 610px) {
  .box-text {
    font-size: 2.5rem !important;
  }
}

@media screen and (max-width: 460px) {
  .box-text {
    font-size: 2.3rem !important;
    padding-top: 4rem !important;
    padding-left: 6rem !important;
    padding-right: 0rem !important;
  }
}

h1 {
  font-size: 13rem;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  color: white;
  margin: 0;
}

.main-title-first {
  margin-top: 25rem;
}

.main-title-second {
  margin-left: 4rem;
}

.main-title {
  z-index: 10;
  text-transform: uppercase;
  text-align: center;
  width: 155rem;
  display: inline-block;
  max-width: 100%;
}

.main-sub-title {
  /*position: relative;*/
  /*top: 3rem;*/
  z-index: 1;
  text-transform: uppercase;
  text-align: center;
  width: 155rem;
  display: inline-block;
  margin-top: 15rem;
  max-width: 100%;
}

h2 {
  font-size: 7.5rem;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  color: white;
  margin: 0;
}



@media screen and (max-width: 1000px) {
  h1 {
    font-size: calc(10.4vw - 0.65rem) !important;
    line-height: 10.7vw !important;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 7rem !important;
    line-height: 1.1 !important;
  }
}

@media screen and (max-width: 434px) {
  h1 {
    font-size: 6rem !important;
    line-height: 1.1 !important;
  }
}

@media screen and (max-width: 1000px) {
  h2 {
    font-size: calc(6vw - 0.65rem) !important;
    line-height: 6vw !important;
  }
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 4rem !important;
    line-height: 1.1 !important;
  }
}



h3 {
  font-size: 6.25rem;
  font-weight: 500;
  line-height: 100%;
  color: white;
}

@media screen and (max-width: 1000px) {
  h3 {
    font-size: calc(5.3vw - 0.65rem) !important;
    line-height: 5.3vw !important;
  }
}

@media screen and (max-width: 1000px) {
  h3 {
    font-size: 3.4rem !important;
    line-height: 1.1 !important;
  }
}

.hero-image-container {
  width: 100%;
  overflow-x: hidden;
  position: absolute;
  left: 0;
  height: 100%;
}

.hero-square-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.hero-image {
  min-height: calc(78rem* 0.83868);
}

.image-height {
  height: calc(78rem * 0.83868);
  height: 0;
  margin-top: 4rem;
}

@media screen and (max-width: 852px) {
  .image-height {
    margin-top: -4rem !important;
  }
}

@media screen and (max-width: 755px) {
  .image-height {
    margin-top: -14rem !important;
  }
}

.hero-square {
  position: absolute;
  width: calc(8rem * 0.875);
  height: calc(8rem * 0.875);
  background-color: pink;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
}

@media screen and (max-width: 853px) {
  .hero-square {
    display: none;
  }

}

.sq-bottom-top {
  bottom: calc(32rem * 0.875);
  left: calc(-85rem * 0.875);
  background: #535353 !important;
}
.sq-bottom-left {
  bottom: calc(24rem * 0.875);
  left: calc(-8rem - 83.89rem * 0.875);
  background-color: #3e3e3e !important;
}
.sq-bottom-middle {
  bottom: calc(24rem * 0.875);
  left: calc(-85rem * 0.875);
  background-color: #353535 !important;
}
.sq-bottom-right {
  bottom: calc(24rem * 0.875);
  left: calc(8rem - 86.11rem * 0.875);
  background-color: #2b2b2b !important;

}
.sq-bottom-bottom-left {
  bottom: 14rem;
  left: calc(-16rem - 82.7rem * 0.875);
  background-color: #141414 !important;

}
.sq-bottom-bottom-middle {
  bottom: 14rem;
  left: calc(-8rem - 83.89rem * 0.875);
  background-color: #1d1d1d !important;

}
.sq-bottom-bottom-right {
  bottom: 14rem;
  left: calc(-85rem * 0.875);
  background-color: #191919 !important;
}
@media screen and (max-width: 1200px) {
  .sq-bottom-top {
    display: none;
  }
  .sq-bottom-left {
    display: none;;
  }
  .sq-bottom-middle {
    display: none;
  }
  .sq-bottom-right {
    display: none;
  }
  .sq-bottom-bottom-left {
    display: none;;
  }
  .sq-bottom-bottom-middle {
    display: none;;

  }
  .sq-bottom-bottom-right {
    display: none;;
  }
}


.sq-top-top {
  bottom: calc(63rem + 20rem * 0.875);
  left: calc(27.5rem + 28rem * 0.875);
  background-color: #191919 !important;
}
.sq-top-right {
  bottom: calc(55rem + 21rem * 0.875);
  left: calc(19.5rem + 29rem * 0.875);
  background-color: #262626 !important;
}
.sq-top-bottom {
  bottom: calc(47rem + 22rem * 0.875);
  left: calc(27.5rem + 28rem * 0.875);
  background-color: #4c4c4c !important;
}

@media screen and (max-width: 1109px) {
  .sq-top-top {
    display: none;
  }
  .sq-top-right {
    display: none;
  }
  .sq-top-bottom {
    display: none;
  }
}



.rec-transparent {
  bottom: 0;
  left: calc(50% - 78rem);
  border: 0.125rem solid #42474C;
  background-color: transparent;
  width: calc(39rem);
  height: calc(8rem * 0.875);
}

.sq-transparent {
  bottom: calc(-32rem * 0.875);
  left: 0.125rem;
  border: 0.125rem solid #42474C;
  background-color: transparent;
}

@keyframes bottom-top {
  0% { background-color: transparent }
  50% { background-color: transparent }
  100% { background-color: #DFDDDB }
}

@keyframes bottom-bottom {
  0% { background-color: #D1C3B4 }
  50% { background-color: #D1C3B4 }
  100% { background-color: #D1C3B4 }
}

@keyframes bottom-right {
  0% { background-color: transparent }
  50% { background-color: #B88867 }
  100% { background-color: #B88867 }
}

@keyframes bottom-left {
  0% { background-color: #B88867 }
  50% { background-color: transparent; }
  100% { background-color: transparent; }
}

@keyframes top-right {
  0% { background-color: #322A26; }
  33.33% { background-color: transparent; }
  66.66% { background-color: #675147; }
}

@keyframes top-bottom {
  0% { background-color: #211A17; }
  33.33% { background-color: #211A17; }
  66.66% { background-color: #211A17; }
}

@keyframes top-top {
  0% { background-color: #472E22; }
  33.33% { background-color: #472E22; }
  66.66% { background-color: #472E22; }
}

@keyframes right-right {
  0% { background-color: #211A17; }
  33.33% { background-color: #EF3A2E; }
  66.66% { background-color: #211A17; }
}

@keyframes right-left {
  0% { background-color: #30160B; }
  33.33% { background-color: #30160B; }
  66.66% { background-color: #4D3328; }
}

@keyframes right-bottom {
  0% { background-color: #252525; }
  33.33% { background-color: transparent; }
  66.66% { background-color: #3A3A3A; }
}

.sq-bottom-top { animation-name: bottom-top; }
.sq-bottom-bottom { animation-name: bottom-bottom; }
.sq-bottom-right { animation-name: bottom-right; }
.sq-bottom-left { animation-name: bottom-left; }
.sq-top-right { animation-name: top-right; }
.sq-top-bottom { animation-name: top-bottom; }
.sq-top-top { animation-name: top-top; }


.mining-infrastructure-upgraded {
  text-transform: uppercase;
  text-align: center;
  width: 155rem;
  display: inline-block;
  margin-top: 19rem;
  font-size: 3.75rem;
  font-weight: 300;
  color: white;
  max-width: 100%;
}

@media screen and (max-width: 1000px) {
  .mining-infrastructure-upgraded {
    font-size: calc(4vw - 0.65rem) !important;
    line-height: 4vw !important;
  }
}

@media screen and (max-width: 600px) {
  .mining-infrastructure-upgraded {
    font-size: 2.7rem !important;
    line-height: 1.1 !important;
  }
}

.create-your-own-blocks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dmnd-is-launching {
  color: #7E7E7E;
  text-transform: uppercase;
  width: 116rem;
  max-width: 100%;
  display: inline-block;
}

.download-proxy-button {
  background-color: white !important;
  color: #EF3A2E;
  display: inline-block;
}

.how-to-button {
  background-color: transparent !important;
  color: white !important;
  display: inline-block;
}

.how-to-button:hover {
  background-color: #EF3A2E !important;
  color: white !important;
}

.download-proxy-button:hover rect {
  fill: #EF3A2E !important;
}

.how-to-button:hover path:nth-child(1) {
  fill: #EF3A2E !important;
}

.how-to-button:hover path:nth-child(2) {
  fill: white !important;
}

.how-to-button:hover path:nth-child(3) {
  fill: white !important;
}

.download-proxy-button:hover path {
  fill: white !important;
}

.download-proxy-button:hover {
  background-color: #EF3A2E !important;
  color: white;
}

.download-proxy-container-first {
  height: 83rem;
  margin-top: 26rem;
  margin-left: -3rem;
  margin-right: -3rem;
  background: url(../img/download-proxy-bg.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foss-link {
  text-decoration: underline;
  font-weight: 600;
}

@media screen and (max-width: 1000px) {
  .download-proxy-container-first {
    margin-top: 10rem;
  }
}

@media screen and (max-width: 680px) {
  .download-proxy-container-first {
    margin-top: 6rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    height: 100% !important;
  }

  .download-proxy-boxes-container {
    flex-direction: column !important;
  }

  .second-proxy-boxes {
    margin-top: 10rem !important;
  }

  .download-proxy-box-content {
    margin-top: 5rem !important;
  }

  .second-proxy-boxes {
    margin-bottom: 8rem !important;
  }

  .download-proxy-box {
    height: 100% !important;
    padding: 3rem;
  }

  .download-proxy-icon {
    margin-bottom: 2rem !important;
  }

  .download-proxy-box-subtitle {
    margin-top: 0 !important;
    text-transform: uppercase;
  }
}

.download-proxy-boxes-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  justify-content: center;
  padding-bottom: 4rem;
}

.second-proxy-boxes {
  margin-top: 21rem;
}

.download-proxy-box {
  background-color: #343434A3;
  height: 53rem;
  width: 100%;
  /*align-items: center;*/
  justify-content: center;
  display: flex;
  max-width: 73rem;
  padding-top: 4rem;
}

.download-proxy-link:hover {
  color: #EF3A2E;
}

.boxes-container {
  display: flex;
  justify-self: center;
  height: 39rem;
  margin-top: 14rem;
  z-index: 1;
}

.box {
  padding: 2.5rem;
  height: 34rem;
  width: 34rem;
  border-top: 0.125rem solid #42474C;
  position: relative;
  box-sizing: content-box;
}

@media screen and (max-width: 1288px) {
  .boxes-container {
    width: 78.23rem;
    flex-wrap: wrap;
    height: 78rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 0.1rem;
  }

  .box:nth-child(1) {
    border-bottom: none !important;
  }

  .box:nth-child(2) {
    border-bottom: none !important;
  }

  .box:nth-child(4) {
    border-bottom: 0.125rem solid #42474C;
  }
}

.box-text {
  width: 37rem;
  padding-top: 8rem;
  padding-left: 6rem;
  padding-right: 6rem;
}

.box > * {
  color: white;
  font-size: 2rem;
}

.number {
  font-size: 4rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.box > .square {
  width: calc(8rem * 0.875);
  height: calc(8rem * 0.875);
  background-color: transparent;
  top: 0;
  left: 0;
  border-right: 0.125rem solid #42474C;
  border-bottom: 0.125rem solid #42474C;
  position: absolute;
}

.box:nth-child(1) {
  border-left: 0.125rem solid #42474C;
  border-bottom: 0.125rem solid #42474C;
}

.box:nth-child(2), .box:nth-child(3) {
  border-bottom: 0.125rem solid #42474C;
}

.box:nth-child(4) {
  border-right: 0.125rem solid #42474C;
  border-bottom: 0.125rem solid #42474C;
}

.why-this-matters {
  background-color: #151515;
  display: flex;
  flex-direction: column;
  margin-right: -3rem;
  margin-left: -3rem;
  align-items: center;
  justify-content: center;
}

.why-this-matters-title {
  margin-top: 12.5rem;
  font-size: 2.75rem;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
}

@media screen and (max-width: 625px) {
  .why-this-matters-title {
    margin-top: 5.5rem;
  }
}

.why-this-matters-text {
  text-transform: uppercase;
  max-width: 102rem;
  color: #7E7E7E;
  margin: 5rem 3rem 12.5rem
}

@media screen and (max-width: 625px) {
  .why-this-matters-text {
    margin: 3rem 2rem 5.5rem
  }
}

.timeline {
  font-size: 8px;
  background-color: #151515;
  display: flex;
  flex-direction: column;
  margin-right: -3em;
  margin-left: -3em;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 4em;
}

@media screen and (max-width: 660px) {
  .timeline {
    font-size: 1.18vw;
  }
}

.timeline-central-line {
  width: 0.125em;
  height: 165em;
  background-image: repeating-linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0.6) 0,
          rgba(255, 255, 255, 0.6) 0.125em,
          transparent 0.75em
  );
  position: absolute;
  top: 23em;
}

.timeline-item-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 102em;
  margin-top: 8em;
}

@media screen and (max-width: 880px) {
  .timeline-item-row {
    width: calc(100% - 6em);
    margin-left: 3em;
    margin-right: 3em;
  }

  .timeline-item-text {
    width: calc(28.75em / 2) !important;
  }

  .timeline-item-image-container {
    width: 28.75em !important;
  }
}

.timeline-item-image {
  width: 28.75em;
  height: 25.625em;
  position: relative;
  z-index: 1;
}

.last-item-negative {
  width: 100%;

}

.timeline-item-text {
  width: calc(34.375em / 2);
  font-size: 2em;
  color: white;
  text-align: left;
  align-self: flex-start;
  margin-top: -4rem;
}

.timeline-item-text-left {
  margin-top: -4rem;
}
.timeline-item-text-left {
  margin-top: -4rem;
}

.timeline-text-year {
  color: white;
  font-weight: 300;
  font-size: 3em;
  width: calc(8.25em / 3);
  position: relative;
}

.timeline-text-title {
  text-transform: capitalize;
}

.timeline-text-description {
  opacity: 60%;
}

@media screen and (max-width: 580px) {
  .timeline-text-title {
    font-size: 1.25em !important;
  }

  .timeline-text-description {
    font-size: 1.25em !important;
  }
}

@media screen and (max-width: 490px) {
  .timeline-text-title {
    font-size: 1.33em !important;
  }

  .timeline-text-description {
    font-size: 1.33em !important;
  }
}

.timeline-hr-left {
  border: none;
  height: calc(0.125em / 3);
  background-color: #ffffff;
  opacity: 20%;
  width: calc(18.8em / 3);
  position: absolute;
  right: calc(9em / 3);
  top: calc(0.5em / 3);
}

.timeline-hr-right {
  border: none;
  height: calc(0.125em / 3);
  background-color: #ffffff;
  opacity: 20%;
  width: calc(19em / 3);
  position: absolute;
  left: calc(8.8em / 3);
  top: calc(0.5em / 3);
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 39rem;
  display: none;
}

.timeline-item-image-container {
  width: 34.375em;
  text-align: left;
}

.title-container-first {
  margin-top: 8rem;
}

.small-title {
  font-size: 2.75rem;
  font-weight: 300;
  line-height: 2.75rem;
  text-align: center;
  color: white;
}

.large-title {
  margin-top: 5rem;
  font-size: 7.25rem;
  font-weight: 500;
  line-height: 7.25rem;
  text-align: center;
  color: white;
}

@media screen and (max-width: 1269px) {
  .large-title {
    font-size: 4vw !important;
    line-height: 4.3vw !important;
  }

  .title-container {
    height: 34rem;
  }

  .title-container-first {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 850px) {
  .large-title {
    font-size: 3rem !important;
    line-height: 3.3rem !important;
  }
}

@media screen and (max-width: 850px) {
  .large-title {
    font-size: 2.7rem !important;
    line-height: 2.8rem !important;
  }
  /*.title-container {*/
  /*  height: 34rem;*/
  /*}*/
}


.demand-decentralization-container {
  max-width: 180rem;
  background-color: black;
  background: black;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 25rem;
}

@media screen and (max-width: 680px) {
  .demand-decentralization-container {
    padding-top: 12rem;
  }
}

.demand-decentralization-container img {
  -webkit-mask-image: linear-gradient(to right, black 95%, transparent 100%);
  mask-image: linear-gradient(to right, black 95%, transparent 100%);
}

@media (max-width: 1635px) {
  .demand-decentralization-container {
    -webkit-mask-image: none !important;
    mask-image: none !important;
  }
}

.demand-decentralization-image {
  margin-top: -7rem;
}

.bottom-mining-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  overflow: hidden;
}

.dot {
  width: 0.625rem;
  height: 0.625rem;
  background-color: #42474C;
  position: absolute;
  z-index: 1;
}

.about-container .dot {
  z-index: -1;
}

.dot:nth-child(1) {
  top: 4rem;
  left: calc(50% - 78rem - 0.3125rem);
}

.dot:nth-child(2) {
  top: 4rem;
  left: calc(50% - 39rem - 0.3125rem);
}

.dot:nth-child(3) {
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
}

.dot:nth-child(4) {
  top: 4rem;
  left: calc(50% + 39rem - 0.3125rem);
}

.dot:nth-child(5) {
  top: 4rem;
  left: calc(50% + 78rem - 0.3125rem);
}

.dot:nth-child(6) {
  top: 42.25rem;
  left: calc(50% - 78rem - 0.3125rem);
}

.dot:nth-child(7) {
  top: 42.25rem;
  left: calc(50% - 39rem - 0.3125rem);
}

.dot:nth-child(8) {
  top: 42.25rem;
  left: 50%;
  transform: translateX(-50%);
}

.dot:nth-child(9) {
  top: 42.25rem;
  left: calc(50% + 39rem - 0.3125rem);
}

.dot:nth-child(10) {
  top: 42.25rem;
  left: calc(50% + 78rem - 0.3125rem);
}

.dot:nth-child(11) {
  top: 80.5rem;
  left: calc(50% - 78rem - 0.3125rem);
}

.dot:nth-child(12) {
  top: 80.5rem;
  left: calc(50% - 39rem - 0.3125rem);
}

.dot:nth-child(13) {
  top: 80.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.dot:nth-child(14) {
  top: 80.5rem;
  left: calc(50% + 39rem - 0.3125rem);
}

.dot:nth-child(15) {
  top: 80.5rem;
  left: calc(50% + 78rem - 0.3125rem);
}

.dot:nth-child(16) {
  top: 118.75rem;
  left: calc(50% - 78rem - 0.3125rem);
}

.dot:nth-child(17) {
  top: 118.75rem;
  left: calc(50% - 39rem - 0.3125rem);
}

.dot:nth-child(18) {
  top: 118.75rem;
  left: 50%;
  transform: translateX(-50%);
}

.dot:nth-child(19) {
  top: 118.75rem;
  left: calc(50% + 39rem - 0.3125rem);
}

.dot:nth-child(20) {
  top: 118.75rem;
  left: calc(50% + 78rem - 0.3125rem);
}

.dot:nth-child(21) {
  top: 157rem;
  left: calc(50% - 78rem - 0.3125rem);
}

.dot:nth-child(22) {
  top: 157rem;
  left: calc(50% - 39rem - 0.3125rem);
}

.dot:nth-child(23) {
  top: 157rem;
  left: 50%;
  transform: translateX(-50%);
}

.dot:nth-child(24) {
  top: 157rem;
  left: calc(50% + 39rem - 0.3125rem);
}

.dot:nth-child(25) {
  top: 157rem;
  left: calc(50% + 78rem - 0.3125rem);
}

.demand-decentralization-content {
  color: white;
  width: 102%;
}

.demand-decentralization-text {
  font-size: 7.25rem;
  font-weight: 500;
  line-height: 7.25rem;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .demand-decentralization-text {
    font-size: 6rem !important;
    /*line-height: 4.3vw !important;*/
  }

}

.start-using-today:nth-child(2) {
  padding-top: 5rem !important;=
}

.start-using-today {
  font-size: 2.75rem !important;
  line-height: 1 !important;
}

.demand-decentralization-text div {
  padding-bottom: 1.5rem;
  text-align: center;
  font-size: 7.25rem;
  font-weight: 500;
  line-height: 7.25rem;
}


@media screen and (max-width: 470px) {
  .demand-decentralization-text div {
    font-size: 4.9rem;
    line-height: 5rem;
  }
}

.demand-decentralization-square {
  position: absolute;
  width: calc(8rem * 0.875);
  height: calc(8rem * 0.875);
  background-color: pink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
  z-index: 1;
}

.dec-sq-top-top {
  top: calc(20rem);
  left: calc(50% + 39rem - 0.3125rem + calc(8rem * 0.875));
}
.dec-sq-top-left {
  top: calc(20rem + calc(8rem * 0.875));
  left: calc(50% + 39rem - 0.3125rem);
}
.dec-sq-top-right {
  top: calc(20rem + calc(8rem * 0.875));
  left: calc(50% + 39rem - 0.3125rem + calc(16rem * 0.875));
}

.dec-sq-mid-left {
  top: 42.25rem;
  left: calc(50% - 44rem - 0.3125rem - calc(16rem * 0.875));
}
.dec-sq-mid-right {
  top: calc(42.25rem + calc(8rem * 0.875));
  left: calc(50% - 44rem - 0.3125rem - calc(8rem * 0.875));
}

@media (max-width: 1020px) {
  .dec-sq-top-top {
    display: none !important;
  }
  .dec-sq-top-left {
    display: none !important;
  }
  .dec-sq-top-right {
    display: none !important;
  }

  .dec-sq-mid-left {
    display: none !important;
  }
  .dec-sq-mid-right {
    display: none !important;
  }
}


@keyframes dec-sq-top-top {
  0% { background-color: #535353; }
  33.3% { background-color: #2e2e2e; }
  66.6% { background-color: #5c5c5c; }
}

@keyframes dec-sq-top-left {
  0% { background-color: #1F1F1F; }
  50% { background-color: #444343; }
}

@keyframes dec-sq-top-right {
  0% { background-color: #212121; }
  50% { background-color: #0D0D0D; }
}

@keyframes dec-sq-mid-left {
  0% { background-color: #131313; }
  33.3% { background-color: #494949; }
  66.6% { background-color: #7A7979; }
}

@keyframes dec-sq-mid-right {
  0% { background-color: #535353; }
  50% { background-color: black; }
}

@keyframes dec-sq-bottom {
  0% { background-color: black; }
  50% { background-color: #787676; }
}

.dec-sq-top-top { animation-name: dec-sq-top-top; }
.dec-sq-top-left { animation-name: dec-sq-top-left; }
.dec-sq-top-right { animation-name: dec-sq-top-right; }
.dec-sq-mid-left { animation-name: dec-sq-mid-left; }
.dec-sq-mid-right { animation-name: dec-sq-mid-right; }
.dec-sq-bottom { animation-name: dec-sq-bottom; }


.download-proxy-box-content-item {
  font-size: 3.75rem;
  font-weight: 500;
  text-align: center;
  padding: 1.5rem;
  display: inline-block;
}

.download-proxy-icon {
  margin-bottom: 7rem;
}

.how-to {
  width: 34rem;
  color: white;
}

.download-proxy-box-subtitle {
  font-size: 2.75rem;
  font-weight: 300;
  text-align: center;
  color: white;
  opacity: 60%;
  margin-top: 4.5rem;
  max-width: 65rem;
  text-transform: uppercase;
}


.bottom-logo-container {
  max-height: 130vw;
  height: 56rem;
}

.bottom-logo {
  max-width: 78rem;
  max-height: 34rem;
  margin-top: 12rem;
  box-sizing: content-box;
  display: flex;
  justify-self: center;
  flex-grow: 9;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 680px) {
  .bottom-logo-container {
    max-height: 130vw;
    height: 44rem;
  }
}

@media screen and (max-width: 525px) {
  .bottom-logo-container {
    max-height: 130vw;
    height: 38rem;
  }
}

@media screen and (max-width: 500px) {
  .bottom-logo {
    margin-top: 6rem;
  }
}

.bottom-nav-container {
  height: 10rem;
  background: black;
}

.bottom-nav {
  display: flex;
  height: 10rem;
  justify-content: space-between;
  align-items: center;
  border: 0.125rem solid #42474C;
  margin: 0;
  padding-left: 3rem;
  padding-right: 3rem;
  width: 155rem;
  text-align: center;
}

@media screen and (max-width: 400px) {
  .bottom-nav a{
    font-size: 2.2rem !important;
  }
}

.bottom-nav a {
  color: white;
  text-decoration: none;
  font-size: 2.75rem;
  padding: 1rem;
}

.bottom-nav:nth-child(1) {
  position: absolute;
  width: 77.625rem;
}

.bottom-nav:nth-child(2) {
  position: absolute;
  right: 0;
  width: 38.5rem;
  margin-left: -0.125rem;
}

@media screen and (max-width: 1020px) {
  .bottom-nav {
    flex-direction: column;
    height: 22rem;
    width: 40% !important;
    justify-content: space-evenly;
    position: relative !important;
    margin-left: 0.125rem;
  }

  .bottom-nav-container {
    display: flex;
    justify-content: center;
    height: 100%;
  }
}

@media screen and (max-width: 830px) {
  .bottom-nav {
    width: 39.1rem !important;
  }
}

.post-bottom-container {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-bottom-container ul {
  display: flex;
  height: 10rem;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: 0;
}

.post-bottom-container ul:nth-child(1) {
  width: 77.625rem;
}

.post-bottom-container ul:nth-child(2) {
  padding-right: 3rem;
}

@media screen and (max-width: 550px) {
  .post-bottom-container {
    flex-direction: column;
  }

  .post-bottom-container ul {
    width: 100% !important;
  }
}


.post-bottom-container ul li {
  font-size: 1.60rem;
  color: white;
  padding: 1rem;
  text-decoration: none;
}

.about-title {
  text-align: center;
  padding: 1rem;
  display: block;
  font-size: 3.75rem;
  line-height: 4rem;
  color: white;
  position: relative;
  margin: 0;
  font-weight: 600;
  background: white;
  color: #EF3A2E;
  text-transform: uppercase;
}

@media screen and (max-width: 575px) {
  .about-title {
    font-size: 3.25rem;
    line-height: 3.5rem;
    padding-left: 1rem !important;
    padding-right: 1rem !important;;
  }
}

@media screen and (max-width: 472px) {
  .about-title {
    font-size: 3rem;
    line-height: 3.2rem;
  }
}

@media screen and (max-width: 434px) {
  .about-title {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }

  .about-titles {
    font-size: 8.5rem !important;
  }
}

@media screen and (max-width: 407px) {
  .about-titles {
    font-size: 7.5rem !important;
  }
}

@media screen and (max-width: 372px) {
  .about-titles {
    font-size: 6.5rem !important;
  }
}

.at-1 {
  left: 45%;
  transform: translateX(-50%);
  margin-top: 5rem;
  padding-bottom: 0.5rem;
  display: none;
}

.at-2 {
  left: 55%;
  transform: translateX(-50%);
  padding-top: 0.5rem;
  display: none;
}

.at-3 {
  left: 65%;
  transform: translateX(-50%);
}

.at-4 {
  margin-top: 5rem;
  margin-left: -6rem;
  margin-right: -6rem;
  max-width: calc(100vw + 12rem);
}

@media screen and (max-width: 1211px) {
  .at-4 {
    margin-top: 5rem;
    margin-left: -3rem;
    margin-right: -3rem;
    max-width: calc(100vw + 6rem);
  }
}

@media screen and (max-width: 874px) {
  .at-1 {
    display: none;
  }
  .at-2 {
    display: none;
  }
  .at-3 {
    display: none;
  }
  .at-4 {
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5rem;
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
  .about-title {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
}

@media screen and (max-width: 874px) {
  .about-title {
    max-width: 100vw;
    width: 100vw;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (max-width: 848px) {
  .about-title {
    max-width: 100vw;
    width: 100vw;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}


.about-container p {
  color: white;
  font-size: 2.75rem;
  font-weight: normal;
  line-height: 3.75rem;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.about-paragraphs {
}

.contact-title {
  width: 155rem;
  text-align: center;
  padding-top: 2rem;
  display: flex;
  justify-self: center;
}

.contact-container p {
  color: white;
  font-size: 2.75rem;
  font-weight: 500;
  line-height: 3.75rem;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
}

.contact-paragraphs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  display: none;
}

form {
  width: 70.5rem;
  padding-top: 8.5rem;
  padding-bottom: 11.5rem;
}

input, textarea {
  width: 100%;
  padding: 1.5rem;
  background: #42474C;
  border: none;
  color: white;
  font-size: 2rem;
  margin-bottom: 3rem;
}

label {
  display: block;
  padding-bottom: 1rem;
  color: #73797F;
  font-size: 2rem;
}

textarea {
  height: 120px;
  resize: none;
}

button {
  width: 100%;
  padding: 4rem;
  background: #7AC943;
  border: none;
  color: black;
  font-weight: bold;
}


.avatar {
  width: 100%;
}

.the-team {
  color: white;
  margin-top: 8rem;
}

.about-titles {
  margin-top:13rem;
  color: white;
  font-size: 9rem;
  line-height: 1.2;
  font-weight: normal;
  margin-bottom: 0;
}

.our-mission-title {
  margin-top: 7rem;
}


h4 {
  font-size: 2rem;
  font-weight: normal;
  margin: 0
}

.the-team {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 14rem;
  row-gap: 9rem;
}

.team-member {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  width: 17rem;
}

.team-member-social {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.team-member-social img {
  width: 3.5rem;
  height: 3.5rem;
}

.team-member-info p {
  margin: 0;
}

.team-member-info h3, .team-member-info h4 {
  text-align: center;
}

.team-member-info h4 {
  max-width: 17rem;
}

.team-member-image {
  height: 15rem;
  overflow: hidden;
  border-radius: 50%;
  width: 15rem;
}







/* modal code */

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  align-items: center; /* Centers vertically */
  justify-content: center; /* Centers horizontally (optional) */
}
/* Modal Content/Box */
.modal-content {
  color: white;
  font-size: 3rem;
  background-color: #030303;
  margin: 0 auto;
  padding: 10rem;
  max-width: 88rem;
  border: 0.125rem solid #8AD66E;
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2),0 0.75rem 3.25rem 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  position: relative;
  margin: 1rem;
  overflow: scroll;
  max-height: 90vh;
}

.modal-content-bio {
  color: white;
  font-size: 2rem;
  background-color: #030303;
  margin: 0 auto;
  padding: 10rem;
  width: 88rem;
  max-width: 90vw;
  border: 0.125rem solid #8AD66E;
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2),0 0.75rem 3.25rem 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  position: relative;
  margin: 1rem;
  overflow: hidden;
  max-height: 90vh;
}

.close {
  color: #aaa;
  font-size: 4rem;
  font-weight: bold;
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.close:hover,
.close:focus {
  color: #EF3A2E;
  text-decoration: none;
  cursor: pointer;
}


/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}


@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}


.guru-protocol {
  color:white;
  margin-top: 3rem;
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.2;
}

@media screen and (max-width: 525px) {
  .guru-protocol {
    font-size: 2rem;
  }
}

@media screen and (max-width: 425px) {
  .guru-protocol {
    font-size: 2rem;
  }
}

@media screen and (max-width: 337px) {
  .guru-protocol {
    font-size: 1.7rem;
  }
}





/* Util */
.color-white {
  color: white;
}

.color-red {
  color: #EF3A2E;
}

.color-red-2 {
  color: #EE574E;
}

.margin-top--1rem {
  margin-top: -1rem;
}

.border-top-bottom {
  border-top: 0.125rem solid #42474C;
  border-bottom: 0.125rem solid #42474C;
}

.relative {
  position: relative;
}

.color-green {
  color: #8AD66E !important;
}

.blinking-underscore {
  animation: blink 1s step-start infinite;
}

.invisible {
  visibility: hidden;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.line-height-0 {
  line-height: 0;
}