@media screen and (max-width: 768px) {
  html {
    font-size: 3px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 4px;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 6px;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 8px;
  }
}

@media screen and (min-width: 2000px) and (min-height: 1500px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 3000px) and (min-height: 2000px) {
  html {
    font-size: 12px;
  }
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

* {
  box-sizing: border-box;
}

.ibm-plex-mono-thin {
  font-family: "IBM Plex Mono", serif;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-mono-extralight {
  font-family: "IBM Plex Mono", serif;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-mono-light {
  font-family: "IBM Plex Mono", serif;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", serif;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-mono-semibold {
  font-family: "IBM Plex Mono", serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", serif;
  font-weight: 700;
  font-style: normal;
}

.jersey-10-regular {
  font-family: "Jersey 10", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  background-color: black;
  width: 155rem;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

nav {
  padding: 3rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 155rem;
  /*height: 11.5rem;*/
  color: white;
  font-size: 3rem;
  margin-left: auto;
  margin-right: auto;
  border: 0.125rem solid #42474C;
}

.nav-items {
  width: 78rem;
  justify-content: space-between;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 3rem;
}

.nav-items li {
  font-size: 3rem;
}

.nav-items a {
  text-decoration: none;
  color: #767676;
  transition: color 0.3s;
}

.nav-items a:hover {
  color: white;
}

.main-content {
  position: relative;
}

.line.left {
  left: calc(50% - 39rem);
}

.line.middle {
  left: 50%;
}

.line.right {
  left: calc(50% + 39rem);
}

.line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0.125rem;
  border-left: 0.125rem solid #42474C;
  z-index: -1;
}

h1 {
  font-size: 12.5rem;
  font-weight: 500;
  line-height: 13.75rem;
  text-align: left;
  color: white;
  margin: 0;
}

.hero-image-container {
  position: absolute;
  left: calc(50% - 39rem);
}

.hero-image {
  width: 78rem;
}

.image-height {
  height: calc(78rem * 0.83868);
}

.hero-square {
  position: absolute;
  width: calc(8rem * 0.875);
  height: calc(8rem * 0.875);
  background-color: pink;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
}

.sq-bottom-top {
  bottom: calc(16rem * 0.875);
}

.sq-bottom-bottom {
  bottom: 0;
}

.sq-bottom-right {
  bottom: calc(8rem * 0.875);
  left: calc(8rem * 0.875);
}

.sq-bottom-left {
  bottom: calc(8rem * 0.875);
  left: calc(-8rem * 0.875);
}

.sq-top-right {
  bottom: calc(47rem * 0.875);
  left: calc(27.5rem * 0.875);
}

.sq-top-bottom {
  bottom: calc(47rem * 0.875);
  left: calc(19.5rem * 0.875);
}

.sq-top-top {
  bottom: calc(55rem * 0.875);
  left: calc(19.5rem * 0.875);
}

.sq-right-right {
  right: calc(-16rem * 0.875);
  bottom: 0;
}

.sq-right-left {
  right: calc(-8rem * 0.875);
}

.sq-right-bottom {
  bottom: 0;
  right: 0;
}

.rec-transparent {
  bottom: 0;
  left: calc(50% - 78rem);
  border: 0.125rem solid #42474C;
  background-color: transparent;
  width: calc(39rem);
  height: calc(8rem * 0.875);
}

.sq-transparent {
  bottom: calc(-32rem * 0.875);
  left: 0;
  border: 0.125rem solid #42474C;
  background-color: transparent;
}

@keyframes bottom-top {
  0% { background-color: transparent }
  50% { background-color: transparent }
  100% { background-color: #DFDDDB }
}

@keyframes bottom-bottom {
  0% { background-color: #D1C3B4 }
  50% { background-color: #D1C3B4 }
  100% { background-color: #D1C3B4 }
}

@keyframes bottom-right {
  0% { background-color: transparent }
  50% { background-color: #B88867 }
  100% { background-color: #B88867 }
}

@keyframes bottom-left {
  0% { background-color: #B88867 }
  50% { background-color: transparent; }
  100% { background-color: transparent; }
}

@keyframes top-right {
  0% { background-color: #322A26; }
  33.33% { background-color: transparent; }
  66.66% { background-color: #675147; }
}

@keyframes top-bottom {
  0% { background-color: #211A17; }
  33.33% { background-color: #211A17; }
  66.66% { background-color: #211A17; }
}

@keyframes top-top {
  0% { background-color: #472E22; }
  33.33% { background-color: #472E22; }
  66.66% { background-color: #472E22; }
}

@keyframes right-right {
  0% { background-color: #211A17; }
  33.33% { background-color: #EF3A2E; }
  66.66% { background-color: #211A17; }
}

@keyframes right-left {
  0% { background-color: #30160B; }
  33.33% { background-color: #30160B; }
  66.66% { background-color: #4D3328; }
}

@keyframes right-bottom {
  0% { background-color: #252525; }
  33.33% { background-color: transparent; }
  66.66% { background-color: #3A3A3A; }
}

.sq-bottom-top { animation-name: bottom-top; }
.sq-bottom-bottom { animation-name: bottom-bottom; }
.sq-bottom-right { animation-name: bottom-right; }
.sq-bottom-left { animation-name: bottom-left; }
.sq-top-right { animation-name: top-right; }
.sq-top-bottom { animation-name: top-bottom; }
.sq-top-top { animation-name: top-top; }
.sq-right-right { animation-name: right-right; }
.sq-right-left { animation-name: right-left; }
.sq-right-bottom { animation-name: right-bottom; }

.hero-image-text {
  position: absolute;
  color: white;
  font-family: "IBM Plex Mono", serif;
  font-weight: 500;
  font-size: 4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150%;
  text-align: center;
  display: block;
}

.create-your-own-blocks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-bitcoin {
  width: 4.8rem;
  height: 4.8rem;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: content-box;
}

.join-the-revolution-hero-text {
  margin-top: 48rem;
}

.join-the-revolution-hero-sub-text {
  font-size: 3.745rem;
  font-weight: 700;
  line-height: 3.745rem;
  color: black;
  background-color: white;
  display: inline-block;
  padding: 1rem;
}

.boxes-container {
  display: flex;
  /*margin-top: 14rem;*/
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.boxes-container-height {
  height: 39rem;
  margin-top: 14rem;
}

.box {
  padding: 2.5rem;
  height: 34.05rem;
  width: 34.05rem;
  border-top: 0.125rem solid #42474C;
  position: relative;
  box-sizing: content-box;
}

.box-text {
  width: 37rem;
  padding-top: 8rem;
  padding-left: 6rem;
  padding-right: 6rem;
}

.box > * {
  color: white;
  font-size: 2rem;
}

.number {
  font-size: 4rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.box > .square {
  width: calc(8rem * 0.875);
  height: calc(8rem * 0.875);
  background-color: transparent;
  top: 0;
  left: 0;
  border-right: 0.125rem solid #42474C;
  border-bottom: 0.125rem solid #42474C;
  position: absolute;
}

.box:nth-child(1) {
  border-left: 0.125rem solid #42474C;
  border-bottom: 0.125rem solid #42474C;
}

.box:nth-child(2), .box:nth-child(3) {
  border-bottom: 0.125rem solid #42474C;
}

.box:nth-child(4) {
  border-right: 0.125rem solid #42474C;
  border-bottom: 0.125rem solid #42474C;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 39rem;
}

.small-title {
  font-size: 2.75rem;
  font-weight: 300;
  line-height: 2.75rem;
  text-align: center;
  color: white;
}

.large-title {
  margin-top: 5rem;
  font-size: 7.25rem;
  font-weight: 500;
  line-height: 7.25rem;
  text-align: center;
  color: white;
}

.demand-decentralization-container {
  padding-top: 4.5rem;
  width: 180rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  -webkit-mask-image: linear-gradient(to right, black 80%, transparent 100%);
  mask-image: linear-gradient(to right, black 80%, transparent 100%);
  background: black;
  height: 122.75rem;
}

.demand-decentralization-image {
  margin-top: -7rem;
}

.dot {
  width: 0.625rem;
  height: 0.625rem;
  background-color: #42474C;
  position: absolute;
  z-index: 1;
}

.dot:nth-child(1) {
  top: 4rem;
  left: calc(50% - 78rem - 0.3125rem);
}

.dot:nth-child(2) {
  top: 4rem;
  left: calc(50% - 39rem - 0.3125rem);
}

.dot:nth-child(3) {
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
}

.dot:nth-child(4) {
  top: 4rem;
  left: calc(50% + 39rem - 0.3125rem);
}

.dot:nth-child(5) {
  top: 4rem;
  left: calc(50% + 78rem - 0.3125rem);
}

.dot:nth-child(6) {
  top: 42.25rem;
  left: calc(50% - 78rem - 0.3125rem);
}

.dot:nth-child(7) {
  top: 42.25rem;
  left: calc(50% - 39rem - 0.3125rem);
}

.dot:nth-child(8) {
  top: 42.25rem;
  left: 50%;
  transform: translateX(-50%);
}

.dot:nth-child(9) {
  top: 42.25rem;
  left: calc(50% + 39rem - 0.3125rem);
}

.dot:nth-child(10) {
  top: 42.25rem;
  left: calc(50% + 78rem - 0.3125rem);
}

.dot:nth-child(11) {
  top: 80.5rem;
  left: calc(50% - 78rem - 0.3125rem);
}

.dot:nth-child(12) {
  top: 80.5rem;
  left: calc(50% - 39rem - 0.3125rem);
}

.dot:nth-child(13) {
  top: 80.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.dot:nth-child(14) {
  top: 80.5rem;
  left: calc(50% + 39rem - 0.3125rem);
}

.dot:nth-child(15) {
  top: 80.5rem;
  left: calc(50% + 78rem - 0.3125rem);
}

.dot:nth-child(16) {
  top: 118.75rem;
  left: calc(50% - 78rem - 0.3125rem);
}

.dot:nth-child(17) {
  top: 118.75rem;
  left: calc(50% - 39rem - 0.3125rem);
}

.dot:nth-child(18) {
  top: 118.75rem;
  left: 50%;
  transform: translateX(-50%);
}

.dot:nth-child(19) {
  top: 118.75rem;
  left: calc(50% + 39rem - 0.3125rem);
}

.dot:nth-child(20) {
  top: 118.75rem;
  left: calc(50% + 78rem - 0.3125rem);
}

.dot:nth-child(21) {
  top: 157rem;
  left: calc(50% - 78rem - 0.3125rem);
}

.dot:nth-child(22) {
  top: 157rem;
  left: calc(50% - 39rem - 0.3125rem);
}

.dot:nth-child(23) {
  top: 157rem;
  left: 50%;
  transform: translateX(-50%);
}

.dot:nth-child(24) {
  top: 157rem;
  left: calc(50% + 39rem - 0.3125rem);
}

.dot:nth-child(25) {
  top: 157rem;
  left: calc(50% + 78rem - 0.3125rem);
}

.demand-decentralization-text {
  font-size: 7.25rem;
  font-weight: 500;
  line-height: 7.25rem;
  text-align: center;
  position: absolute;
  color: white;
  top: calc(50% + 2.25rem);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 102%;
}

.demand-decentralization-text div {
  padding-bottom: 1.5rem;
}

.demand-decentralization-square {
  position: absolute;
  width: calc(8rem * 0.875);
  height: calc(8rem * 0.875);
  background-color: pink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
  z-index: 1;
}

.dec-sq-top-top {
  top: calc(18rem);
  left: calc(50% + 39rem - 0.3125rem + calc(8rem * 0.875));
}
.dec-sq-top-left {
  top: calc(18rem + calc(8rem * 0.875));
  left: calc(50% + 39rem - 0.3125rem);
}
.dec-sq-top-right {
  top: calc(18rem + calc(8rem * 0.875));
  left: calc(50% + 39rem - 0.3125rem + calc(16rem * 0.875));
}
.dec-sq-mid-left {
  top: 42.25rem;
  left: calc(50% - 39rem - 0.3125rem - calc(16rem * 0.875));
}
.dec-sq-mid-right {
  top: calc(42.25rem + calc(8rem * 0.875));
  left: calc(50% - 39rem - 0.3125rem - calc(8rem * 0.875));
}
.dec-sq-bottom {
  left: calc(50% - 39rem - 0.3125rem);
  top: 105rem;
}

@keyframes dec-sq-top-top {
  0% { background-color: #535353; }
  50% { background-color: transparent; }
}

@keyframes dec-sq-top-left {
  0% { background-color: #131313; }
  50% { background-color: #6B6868; }
}

@keyframes dec-sq-top-right {
  0% { background-color: #0D0D0D; }
  50% { background-color: #0D0D0D; }
}

@keyframes dec-sq-mid-left {
  0% { background-color: #131313; }
  50% { background-color: #7A7979; }
}

@keyframes dec-sq-mid-right {
  0% { background-color: #535353; }
  50% { background-color: black; }
}

@keyframes dec-sq-bottom {
  0% { background-color: black; }
  50% { background-color: #787676; }
}

.dec-sq-top-top { animation-name: dec-sq-top-top; }
.dec-sq-top-left { animation-name: dec-sq-top-left; }
.dec-sq-top-right { animation-name: dec-sq-top-right; }
.dec-sq-mid-left { animation-name: dec-sq-mid-left; }
.dec-sq-mid-right { animation-name: dec-sq-mid-right; }
.dec-sq-bottom { animation-name: dec-sq-bottom; }

.bottom-logo-container {
  height: 74rem;
}

.bottom-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 78rem;
  height: 34rem;
  padding-top: 19rem;
  padding-bottom: 21rem;
  box-sizing: content-box;
}

.bottom-nav-container {
  height: 10rem;
  background: black;
}

.bottom-nav {
  display: flex;
  height: 10rem;
  justify-content: space-between;
  align-items: center;
  border: 0.125rem solid #42474C;
  margin: 0;
  padding-left: 3rem;
  padding-right: 3rem;
  width: 155rem;
}

.bottom-nav a {
  color: white;
  text-decoration: none;
  font-size: 2.75rem;
  padding: 1rem;
}

.bottom-nav:nth-child(1) {
  position: absolute;
  width: 77.625rem;
}

.bottom-nav:nth-child(2) {
  position: absolute;
  right: 0;
  width: 38.5rem;
}

.post-bottom-container {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-bottom-container ul {
  display: flex;
  height: 10rem;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: 0;
}

.post-bottom-container ul:nth-child(1) {
  width: 77.625rem;
}

.post-bottom-container ul:nth-child(2) {
  padding-right: 3rem;
}


.post-bottom-container ul li {
  font-size: 1.60rem;
  color: white;
  padding: 1rem;
  text-decoration: none;
}

.about-title {
  width: 155rem;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 2rem;
}

.about-container p {
  color: white;
  font-size: 2.75rem;
  font-weight: 500;
  line-height: 3.75rem;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.about-paragraphs {
  position: relative;
  top: 65rem;
  height: 0;
}

.contact-title {
  width: 155rem;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 2rem;
}

.contact-container p {
  color: white;
  font-size: 2.75rem;
  font-weight: 500;
  line-height: 3.75rem;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
}

.contact-paragraphs {
  position: relative;
  top: 57rem;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 70.5rem;
  padding-top: 8.5rem;
  padding-bottom: 11.5rem;
}

input, textarea {
  width: 100%;
  padding: 1.5rem;
  background: #42474C;
  border: none;
  color: white;
  font-size: 2rem;
  margin-bottom: 3rem;
}

label {
  display: block;
  padding-bottom: 1rem;
  color: #73797F;
  font-size: 2rem;
}

textarea {
  height: 120px;
  resize: none;
}

button {
  width: 100%;
  padding: 4rem;
  background: #7AC943;
  border: none;
  color: black;
  font-weight: bold;
}


/* Util */
.color-red {
  color: #EF3A2E;
}

.color-red-2 {
  color: #EE574E;
}

.margin-top--1rem {
  margin-top: -1rem;
}

.margin-top-12 {
  margin-top: 12rem;
}

.border-top-bottom {
  border-top: 0.125rem solid #42474C;
  border-bottom: 0.125rem solid #42474C;
}

.relative {
  position: relative;
}
