@media screen and (max-width: 470px) {
  .line-first-plate.third, .line-first-plate.fourth, .line-first-plate-horizontal {
    display: none;
  }
}

@media screen and (max-width: 530px) {
  .nav-items li:nth-child(2), .nav-items li:nth-child(3), .nav-items li:nth-child(4) {
    display: none !important;
  }

  .button {
    width: 50rem !important;

  }

  .b-title {
    font-size: 5rem !important;
  }
}

@media screen and (max-width: 690px) {
  .footer-title {
    font-size: 8vw !important;
    line-height: 11vw !important;
  }
}

@media screen and (max-width: 720px) {
  .not-decentralized .pie-chart-and-text {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .pie-chart-description {
    margin-left: 0 !important;
    text-align: center;
    margin-top: 3rem;
  }

  .not-decentralized {
    flex-wrap: wrap !important;
  }

  .subplate {
    text-align: center;
  }
}

@media screen and (max-width: 957px) {
  html {
    font-size: 6px;
  }

  .navbar {
    width: calc(100vw - 3rem) !important;
  }

  .line-first-plate.fifth {
    display: none;
  }

  body {
    width: calc(100vw - 3rem) !important;
  }

  .b-title {
    width: calc(100vw - 16rem) !important;
  }

  /*.not-decentralized {*/
  /*  flex-wrap: wrap !important;*/
  /*}*/

  /*.not-decentralized .subplate:nth-child(2) {*/
  /*  text-align: right;*/
  /*}*/

  .mining-revenues {
    display: none !important;
  }

}

/*@media screen and (min-width: 768px) {*/
/*  html {*/
/*    font-size: 6px;*/
/*  }*/
/*}*/

@media screen and (min-width: 958px) {
  html {
    font-size: 6px;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 8px;
  }
}

@media screen and (min-width: 2000px) and (min-height: 1500px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 3000px) and (min-height: 2000px) {
  html {
    font-size: 12px;
  }
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

* {
  box-sizing: border-box;
}

.ibm-plex-mono-thin {
  font-family: "IBM Plex Mono", serif;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-mono-extralight {
  font-family: "IBM Plex Mono", serif;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-mono-light {
  font-family: "IBM Plex Mono", serif;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", serif;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-mono-semibold {
  font-family: "IBM Plex Mono", serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", serif;
  font-weight: 700;
  font-style: normal;
}

.jersey-10-regular {
  font-family: "Jersey 10", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #17191B;
  max-width: 155rem;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

nav {
  padding: 3rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 155rem;
  height: 4.5rem;
  color: white;
  font-size: 3rem;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  border: 0.125rem solid white;
  background: #030303;
  position: relative;
  padding: 0;
}

.hamburger-menu {
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  background: white;
  position: absolute;
  left: 0;
  top: -0.1rem;
  display: none;
}

.hamburger-menu div {
  width: 100%;
  height: 0.5rem;
  background-color: currentColor;
  border-radius: 0.5rem;
  background-color: #030303;
}

.navbar svg {
  position: relative;
  top: 0.5rem;
  left: 3rem;
}

.nav-items {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  justify-content: center;
  align-content: center;
}

.nav-items li {
  font-size: 2rem;
  font-weight: 400;
  width: 18rem;
  border-left: 0.125rem solid white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-items a {
  text-decoration: none;
  color: #767676;
  transition: color 0.3s;
}

.nav-items a:hover {
  color: white;
}

.black-plate {
  background-color: #030303;
  position: relative;
}

.first-plate {
  text-align: center;
}

.main-content {
  position: relative;
}

.line-first-plate.first {
  left: 3rem;
}

.line-first-plate.second {
  left: 17.5rem;
}

.line-first-plate.third {
  left: calc(50% + 1.9rem);
}

.line-first-plate.fourth {
  left: calc(50% - 1.9rem);
}

.line-first-plate.fifth {
  right: 62rem;
}

.line-first-plate-horizontal {
  position: absolute;
  left: 0;
  right: 0;
  top: 26rem;
  height: 0.125rem;
  border-top: 0.125rem solid #42474C;
}

.line-first-plate {
  position: absolute;
  top: 0;
  bottom: 20rem;
  width: 0.125rem;
  border-left: 0.125rem solid #42474C;
}

.first-plate .text-box {
  color: white;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  max-width: 70rem;
  display: inline-block;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.exclamation-symbol {
  text-align: center;
  display: inline-block;
  height: 7.5rem;
  width: 8.5rem;
  margin-top: 3rem;
  position: relative;
}

.b-title {
  font-size: 8rem;
  color: white;
  position: relative;
  padding-top: 12rem;
  z-index: 10;
  display: inline-block;
  width: 144rem;
}

.b-title-holder {
  font-size: 8rem;
  color: white;
  position: relative;
  padding-top: 12rem;
  z-index: 10;
  display: inline-block;
  width: 144rem;
  visibility: hidden;
}

.first-plate button {
  background-color: #8AD66E;
  color: #030303;
  border: none;
  font-size: 4.5rem;
  font-weight: 400;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 1rem;
  display: block;
  font-family: "Jersey 10", serif;
  margin-left: auto;
  margin-right: auto;
  border: 0.125rem solid #8AD66E;
}

.first-plate button:hover {
  background: #030303;
  color: #8AD66E;
}

.satoshi {
  margin-top: 3rem;
  position: relative;
  padding: 3rem;
  text-align: center;
}

.satoshi .text-box {
  color: white;
  font-size: 2.5rem;
  line-height: 3.75rem;
  text-align: center;
  max-width: 100rem;
  font-style: italic;
  display: inline-block;

}

.satoshi .text-box-2 {
  color: white;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  max-width: 50rem;
  display: inline-block;
  margin-top: 3rem;
}

.not-decentralized {
  min-height: 43.125rem;
  margin-top: 3rem;
  position: relative;
  display: flex;
  gap: 3rem;
  flex-wrap: nowrap;
}

.subplate {
  position: relative;
  min-height: 43.125rem;
}

.not-decentralized .subplate {
  background-color: #030303;
  width: 100%;
  padding: 3rem;
}

.subplate strong {
  font-size: 2.75rem;
  line-height: 3.5rem;
}

.pie-chart {
  max-height: 27rem;
  margin-top: 3rem;
}

.pie-chart-and-text {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.pie-chart-description {
  font-size: 3rem;
  line-height: 4.6rem;
  color: white;
  font-weight: 300;
  width: 34.5rem;
  margin-left: 7rem;
}

.does-this-look-decentralized-boxes {
  max-width: 70rem;
  margin-top: 8rem;
}

.mining-revenues {
  height: 20.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  margin-top: 3rem;

}


.mining-revenues-text {
  width: 26rem;
  font-family: "Jersey 10", serif;
  font-size: 2.75rem;
  font-weight: 400;
  line-height: 3rem;
  text-align: center;
  color: white;
}

.arrow {
  width: 6.25rem;
}

.join {
  margin-top: 3rem;
  position: relative;
  text-align: center;
  padding: 0.01rem;
}

.join-title {
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 3.5rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.join-text {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  text-align: center;
  color: white;
  max-width: 101.25rem;
  display: inline-block;
}

.button {
  width: 80rem;
  height: 13rem;
  border: 0.125rem solid #8AD66E;
  font-family: "Jersey 10", serif;
  font-size: 7.5rem;
  line-height: 8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8AD66E;
}

.button:hover {
  background-color: #030303;
  color: #8AD66E;
}

.button-container {
  margin: 3rem;
}

.footer-plate {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 3rem;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.25rem;
  color: white;
  font-size: 3rem;
  padding: 0;
  position: relative;
}

.footer-logo {
  height: 6.25rem;
  top: 0.5rem;
  position: relative;
}

.footer-nav-items {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  justify-content: center;
  align-content: center;
}

.footer-nav-items li {
  font-size: 2rem;
  font-weight: 400;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-left: 3rem;
}

.footer-nav-items a {
  text-decoration: none;
  color: #767676;
  transition: color 0.3s;
}

.footer-nav-items a:hover {
  color: white;
}

.footer-title {
  font-size: 10.3rem;
  line-height: 12rem;
  text-align: center;
  color: white;
  margin-top: 10rem;
}

.post-bottom-container {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
}

.post-bottom-container ul {
  display: flex;
  height: 10rem;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.post-bottom-container ul:nth-child(1) {
  width: 77.625rem;
}

.post-bottom-container ul:nth-child(2) {
}

.post-bottom-container ul li {
  font-size: 1.60rem;
  color: white;
  padding: 1rem;
  text-decoration: none;
}

.faq-plate {
  margin-top: 3rem;
  padding: 3rem;
}

.faq-title {
  font-size: 2.75rem;
  color: white;
}















/* Util */
.color-red {
  color: #EF3A2E;
}

.color-green {
  color: #8AD66E;
}

.color-red-2 {
  color: #EE574E;
}

.margin-top--1rem {
  margin-top: -1rem;
}

.margin-top-12 {
  margin-top: 12rem;
}

.border-top-bottom {
  border-top: 0.125rem solid #42474C;
  border-bottom: 0.125rem solid #42474C;
}

.relative {
  position: relative;
}

.inline-block {
  display: inline-block;
}

@keyframes typing {
  0% { content: "_"; }
  2% { content: "_B"; }
  4% { content: "_BI"; }
  6% { content: "_BIT"; }
  8% { content: "_BITC"; }
  10% { content: "_BITCO"; }
  12% { content: "_BITCOI"; }
  14% { content: "_BITCOIN"; }
  16% { content: "_BITCOIN "; }
  18% { content: "_BITCOIN I"; }
  20% { content: "_BITCOIN IS"; }
  22% { content: "_BITCOIN IS "; }
  24% { content: "_BITCOIN IS N"; }
  26% { content: "_BITCOIN IS NO"; }
  28% { content: "_BITCOIN IS NOT"; }
  30% { content: "_BITCOIN IS NOT "; }
  32% { content: "_BITCOIN IS NOT D"; }
  34% { content: "_BITCOIN IS NOT DE"; }
  36% { content: "_BITCOIN IS NOT DEC"; }
  38% { content: "_BITCOIN IS NOT DECE"; }
  40% { content: "_BITCOIN IS NOT DECEN"; }
  42% { content: "_BITCOIN IS NOT DECENT"; }
  44% { content: "_BITCOIN IS NOT DECENTR"; }
  46% { content: "_BITCOIN IS NOT DECENTRA"; }
  48% { content: "_BITCOIN IS NOT DECENTRAL"; }
  50% { content: "_BITCOIN IS NOT DECENTRALI"; }
  52% { content: "_BITCOIN IS NOT DECENTRALIZ"; }
  54% { content: "_BITCOIN IS NOT DECENTRALIZE"; }
  56% { content: "_BITCOIN IS NOT DECENTRALIZED"; }
  58% { content: "_BITCOIN IS NOT DECENTRALIZED."; }
  60% { content: "_BITCOIN IS NOT DECENTRALIZED.\AL"; }
  62% { content: "_BITCOIN IS NOT DECENTRALIZED.\ALE"; }
  64% { content: "_BITCOIN IS NOT DECENTRALIZED.\ALET"; }
  66% { content: "_BITCOIN IS NOT DECENTRALIZED.\ALET’"; }
  68% { content: "_BITCOIN IS NOT DECENTRALIZED.\ALET’S"; }
  70% { content: "_BITCOIN IS NOT DECENTRALIZED.\ALET’S "; }
  72% { content: "_BITCOIN IS NOT DECENTRALIZED.\ALET’S D"; }
  74% { content: "_BITCOIN IS NOT DECENTRALIZED.\ALET’S DE"; }
  76% { content: "_BITCOIN IS NOT DECENTRALIZED.\ALET’S DEM"; }
  78% { content: "_BITCOIN IS NOT DECENTRALIZED.\ALET’S DEMA"; }
  80% { content: "_BITCOIN IS NOT DECENTRALIZED.\ALET’S DEMAN"; }
  82% { content: "_BITCOIN IS NOT DECENTRALIZED.\ALET’S DEMAND "; }
  84% { content: "_BITCOIN IS NOT DECENTRALIZED.\ALET’S DEMAND A"; }
  86% { content: "_BITCOIN IS NOT DECENTRALIZED.\ALET’S DEMAND A "; }
  88% { content: "_BITCOIN IS NOT DECENTRALIZED.\ALET’S DEMAND A C"; }
  90% { content: "_BITCOIN IS NOT DECENTRALIZED.\ALET’S DEMAND A CH"; }
  92% { content: "_BITCOIN IS NOT DECENTRALIZED.\ALET’S DEMAND A CHA"; }
  94% { content: "_BITCOIN IS NOT DECENTRALIZED.\ALET’S DEMAND A CHAN"; }
  96% { content: "_BITCOIN IS NOT DECENTRALIZED.\ALET’S DEMAND A CHANG"; }
  98% { content: "_BITCOIN IS NOT DECENTRALIZED.\ALET’S DEMAND A CHANGE"; }
  100% { content: "_BITCOIN IS NOT DECENTRALIZED.\ALET’S DEMAND A CHANGE!"; }
}

.b-title::after {
  content: "";
  animation: typing 6s steps(25, end) forwards;
}

@keyframes blink {
  50% { opacity: 0; }
}

.cursor {
  font-family: monospace;
  animation: blink 1s step-end infinite;
}




/* modal code */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 30% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}